@blueArctic: #e2f1fd;
@greySnow: #f3f5f7;
@greySmoke: #e4e8ec;

.block.logos {
  .grid-items [data-rbd-droppable-id] {
    display: flex;
  }

  // general spacing in the Row block wrapper
  & [class^='block-editor-'],
  [class^='block-editor-'].contained {
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .one.grid-items [class^='block-editor-'] {
    width: 100%;
  }

  .two.grid-items [class^='block-editor-'] {
    width: 50%;
  }

  .three.grid-items [class^='block-editor-'] {
    width: 33.33333333%;
  }

  .four.grid-items [class^='block-editor-'] {
    width: 25%;
  }

  .ui.basic.button.remove-block-button {
    position: absolute;
    z-index: 3;
    top: 6px;
    right: 2px;
    display: none;

    .icon {
      height: 18px !important;
    }

    .circled {
      padding: 8px;
      border: 1px solid @greySmoke;
      background: @greySnow;

      &:hover {
        background-color: @greySmoke;
      }
    }

    &:hover {
      background-color: transparent !important;
    }
  }

  [class^='block-editor-'].selected .ui.basic.button.remove-block-button,
  [class^='block-editor-']:hover .ui.basic.button.remove-block-button {
    display: block;
  }

  .cell-wrapper {
    position: relative;
    width: 100%;
    flex-grow: 1;
  }

  .logo-image {
    width: 100%;
  }
}

.block.logo {
  .logo-image {
    width: 100%;
    object-position: top left;
  }
}
